/**************************************************************
   studio7designs.com
 **************************************************************/

/**************************************************************
   All page content except for footer
 **************************************************************/

#content {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height:100%;
}

#content2 {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-top:200px;
}

/**************************************************************
   Page Content
 **************************************************************/

#page {
  clear: both;
  float: left;
  width: 100%;
  min-height: 370px; 
  margin-bottom: 6em;
  text-align: left;
}

#columns {
  margin: 0 auto; 
}

/* Column widths */
.width {
  width: 776px;
}

.widthPad {
  width: 746px;
  text-align: left;
}

.widthPad2 {
  width: 746px;
  text-align: left;
  padding-bottom: 70px;
  padding-left: 17px;  
}

.width20 {
  width: 18%;
}

.width23 {
  width: 22%;
}

.width25 {
  width: 24%;
  
}

.width30 {
  width: 28%;
  
}

.thumb25 {line-height: 11px;}

.width33 {
  width: 33%;
}

.width35 {
  width: 35%;
  margin-top:3px;
}

.width37 {
  width: 45%;
   margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  color: #999; 
 
}

.width38 {
  width: 38%;
  margin-top:3px;
  
  
}

.width38 a {
 color:#999;
}

.width35 a {
 color:#999;
}

.width50 {
  width: 48%;
}

.width55 {
  width: 52%;
}

.width66 {
  width: 530px;
}

.width73 {
  width: 73%;
}

.width75 {
  width: 75%;
}

.width95 {
  width: 95%;
}

.width100 {
  width: 100%;
}

.width100d {
  width: 100%;
  text-align:center;
  margin-top:6px;
  margin-bottom:3px;
}

/**************************************************************
   Footer
 **************************************************************/


#footer {
  clear: both;
  float: left;
  width: 100%;
  height: 7em;
  margin-top: -18em;

}

#footer #bg {
  position: relative;
  height: 180px;
  margin: 0 auto;
  border-top: 1px solid #083b00;
  background-color: #ffffff;
}


.footer_rightcol{
	width:185px;
	margin: 12px 8px 8px 8px;
	float:right;
}



.footer_submenu {
	list-style:none;
	padding-left:3px;
	margin:1px 0px 0px;
	background-color: #000000;
	text-align:left;
}

.footer_submenu li{

	border-bottom: #222 1px dotted;

	line-height: 135%;

	list-style:none;

}

.footer_submenu li a {

	color: #555;

	text-decoration: none;

	padding: 4px 0px 4px 2px;

	display:block;

}

.footer_submenu li a:visited{



	color: #555;

	text-decoration: none;

}



.footer_submenu li a:hover{

	text-decoration: none;

	background-color:#000000;

	color:#0c5300;

}




.post {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;

  margin-bottom: 1.4em;
  background: #000000;
  border-bottom: 1px solid #000000;
}



.post .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
}

.post p {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  border-left: 1px solid #CCCCCC;
  text-align:justify;
  

}

/**************************************************************
   Posts volunteer page
 **************************************************************/

.post2 {
  float: left;
  width: 550px;
  position: relative;
  margin-bottom: 1.4em;
  border-bottom: 1px solid #222;
}



.post2 .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #586B7A;
}

.post2 p {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  
  text-align:justify;
  

}

/**************************************************************
   Posts PORTFOLIO PAGE
 **************************************************************/

.postnounderline {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.4em;
 
}

.postnounderline .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #999;
}

.postnounderline p {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  color: #999;  
  text-align:justify;
}
  
 .postnounderline a {color: #ADBE70;
  
 }
 
 .postnounderlineflash {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  color: #999;  
  text-align:justify;
}
 
 /**************************************************************
   PostsLINKS PAGE
 **************************************************************/

.postnounderline2 {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.4em;
 
}

.postnounderline2 .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #777;
}

.postnounderline2 p {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  color: #777;  
  text-align:left;
}
  
 .postnounderline2 a {color: #ADBE70; font-weight:normal;
  
 }
  
  
  /**************************************************************
   FRONT PAGE LOWER POSTS
  *************************************************************/

.fpost {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.4em;
 
}

.fpost  .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #ccc;
}

.fpost  p {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.6em;
  color: #CCCCCC;  
  text-align:justify;
}
  
 .fpost  a {color: #F0A530;
  
 }

/**************************************************************
   Posts PORTFOLIO PAGE
 **************************************************************/

.post3 {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.4em;
  border-bottom: 1px solid #3f3f40;
}

.post3 .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #000000;
}

.post3 p {
  margin: 0 0 0 0;
  padding:  0 0.6em 0.6em 0.2em;
  color: #000000;  
  text-align:justify;
}
  
 .post3 a {color: #ADBE70; font-weight:normal; }
  

/**************************************************************
   Posts SERVICES MAIN HEADER PAGE
 **************************************************************/

.post4 {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.9em;
  background-image:url(../images/BLOG_IMAGES/bg.jpg);
 
}

.post4 .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #ccc;
}

.post4 p {
  margin: 0 0 0 0;
  padding: 0.6em;
  color: #CCCCCC;  
  text-align:justify;
}
  
 .post4 a {color: #CCCCCC;
  
 }
  
  
  /**************************************************************
   Posts SERVICES MAIN HEADER PAGE
 **************************************************************/

.post5 {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.9em;

 
}

.post5 .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #ccc;
}

.post5 p {
  margin: 0 0 0 0;
  padding: 0.6em;
  color: #CCCCCC;  
  text-align:justify;
}
  
 .post5 a {color: #ADBE70;}
 
 .post5 a:hover {color: #ccc;
  
 }


/**************************************************************
   Posts SERVICES MAIN HEADER PAGE
 **************************************************************/

.post6 {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.9em;
  background-image:url(../images/BLOG_IMAGES/bg2.jpg);
 
}

.post6 .title {
  display: block;
  padding: 0 0 7px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #ccc;
}

.post6 p {
  margin: 0 0 0 0;
  padding: 0.6em;
  color: #CCCCCC;  
  text-align:justify;
}
  
 .post6 a {color: #CCCCCC;
  
 }

/**************************************************************
   Generic Display 
 **************************************************************/


.block {
  display: block;
}

.clear {
  clear: both;
}

.marginRight {
  margin-right: 15px;
}

.paddingLeft {
  padding-left: 5px;
}

.paddingRight {
  padding-right: 5px;
}

.floatLeft {
  float: left;
	BACKGROUND: #FFFFFF;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignTop {
  vertical-align: top;
}

.alignMiddle {
  vertical-align: middle;
}

.alignBottom {
  vertical-align: bottom;
}

.dark {
  color: #888;
}

#header_new	{
	width:776px;
	min-height:100px;
	background-position:bottom;
	background-repeat:no-repeat;
	background-color: #ffffff;
	text-align:left;
	position: relative;
	padding-top:3px;
}

#menu_new {
	width:776px;
	height:28px;					
	background-color:#000000;
	margin-bottom: 12px;
}

ul#menu_inner_new{
	color:#e7e7e7;
	padding:0px;
	margin:0px;
	list-style: none;
}	
#menu_inner_new li{
	list-style-type:none;
	float:left;
	width:129px;
	text-align:center;
	list-style: none;
}
.link7_new{
	font-family:helvetica;
	font-weight: bold;
	font-size:13px; 
	color:#ffffff;
	text-decoration:none;
	padding-top:4px;
	height:23px;
	display:block; 
}
													
.link7_new:hover	{
	background-color:#ffffff;
	font-family:helvetica;
	font-size:13px;
	color:#000;
	height:24px;
}
					
.link8_new	{
	font-family:helvetica;
	font-weight: bold;
	font-size:13px; 
	color:#ffffff;
	text-decoration:none;
	padding-top:4px;
	height:23px;
	display:block; 
	width: 131px;
}
											
.link8_new:hover	{
	background-color:#ffffff;;
	font-family:helvetica;
	font-size:13px;
	color:#000;
	height:24px;
}

.style2 {color: #000000}
.style3 {color: #62CC3C}
.style6 {color: #5C8096}
.style7 {color: #ADABAB}	
.style8 {
	color: #F0A530; font-size: 1.0em;
   font-weight: 600;
}
.style9 {color: #302F2D}
.style12 {color: #557761}
.style13 {
	color: #666666;
	font-weight: bold;
}
